#### Tuples are immutable and usualy contain a heterogeneous sequence of elelments
#### A Tuple consist of a number of value separted by commas
#### Also tuple is created using parenthesis()

In [1]:
# Tuple packing
sample_tuple=3333,4444,'Dany'
type(sample_tuple)

tuple

In [2]:
sample_tuple

(3333, 4444, 'Dany')

In [3]:
# Reverse packing
x,y,z = sample_tuple
print(x)
print(y)
print(z)

3333
4444
Dany

In [4]:
# Emplty tuples are contruct by an empty pair of parentheses;
empty_tuple = ()
# A tuple with one item is contrucuted by following a value with a comma
# it is not sufficent to enclose a sinple value inparenthesis. Ugly,but effective
single_tuple = 'Dear',

In [5]:
empty_tuple

()

In [6]:
single_tuple

('Dear',)

In [7]:
type(single_tuple)

tuple

In [8]:
list_1=[1,2,3,4,5]
type(list_1)

list

In [9]:
tuple_conv=tuple(list_1)
tuple_conv

(1, 2, 3, 4, 5)

In [10]:
type(tuple_conv)

tuple

In [11]:
sample_tuple

(3333, 4444, 'Dany')

In [12]:
new_tuple=sample_tuple[:-2]
new_tuple

(3333,)

In [13]:
aTuple = (123, 'xyz', 'zara', 'abc');

In [14]:
print("This is a tuple {0}".format(aTuple))

This is a tuple (123, 'xyz', 'zara', 'abc')