# Sets

##### Set is an unordered collection with no duplicate elements
##### Curly braces or the set() function can be used to create sets

In [2]:
basket = {'apple','orange','pear','banana', 'apple'}
type(basket)

set

In [3]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [4]:
'apple' in basket

True

In [5]:
num_list =[1,2,3,3,4,5,6,7,8]
num_list

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [6]:
num_set=set(num_list)
num_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
num_set2 ={2,3,4,6,7,9,8,9,10}

In [8]:
len(num_set)

8

In [9]:
len(num_set2)

8

In [10]:
num_set2

{2, 3, 4, 6, 7, 8, 9, 10}

In [11]:
num_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
# Return all elements from num_set2 whitch are not in num_set 
num_set2 - num_set

{9, 10}

In [13]:
# isolate all unique elements between the 2 sets
num_set2 | num_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
# isolate elements in commun between the 2 sets
num_set2 & num_set

{2, 3, 4, 6, 7, 8}

In [15]:
# isolate elements whitch are different between the 2 sets
num_set2  ^ num_set

{1, 5, 9, 10}

In [16]:
num_set.intersection(num_set2)

{2, 3, 4, 6, 7, 8}

In [17]:
num_set.union(num_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
num_set2.difference(num_set)

{9, 10}